doctype html
html
     head
          title index
          link(rel="stylesheet", href=css , type="text/css")
     body
          h1 HELLO PEOPLE
          a(href="join").home_button#h_button_1 Join Lobby 
          br
          a(href="create").home_button#h_button_2 Create Lobby
          script(src="script.js")